<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.placenow.mapper.PlaceAttachMapper">				
	<insert id="insert">
		INSERT INTO PLACE_ATTACH(UUID, UPLOADPATH, FILENAME, IMAGE, PNO)
		VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{pno})
	</insert>
		
	<select id="findBy" resultType="com.placenow.domain.PlaceAttachVO">
		SELECT * FROM PLACE_ATTACH WHERE PNO = #{pno}
	</select>
	
	<delete id="delete">
		DELETE FROM PLACE_ATTACH WHERE UUID = #{uuid}
	</delete>
	
</mapper>